body{background-color: rgb(224, 121, 121);
}

h1 {
    color: rgb(226, 229, 156);
    text-align:center;
    margin-top:20px;

}
   


div{
    background-color:rgb(121, 200, 220);
    width: 50vw;
}

.divrojo{
    background-color:rgb(173, 39, 39)

}

#divunico{
    background-color: rgba(184, 119, 119, 0.687);
}

#dibujo{
    width: 40vw;
    height: 40vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cara{
    width: 60%;
    height: 60%;
    background-color: rgb(246, 212, 90);
    border-radius: 50%;
    position: relative
}

.ojos{
    width: 25%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
}

#ojoIzq{
    top: 20%;
    left: 20%;
}


#ojoDer{
    top: 20%;
    right: 20%;
}

#boca{
    width: 25%;
    height: 15%;
    background-color: rgb(37, 37, 36);
    border-radius:0 0 50px 50px;
    position: absolute;
    left: 37%;
    bottom:25%;

}

.mejilla{
    width: 10%;
    height: 10%;
    background-color: rgb(243, 183, 225);
    border-radius: 50%;
    position: absolute;
}

#mejillaIzq{
    bottom: 30%;
    left: 20%;
}

#mejllaDer{
    bottom: 30%;
    right: 20%;
}
